<!DOCTYPE html>
<html data-theme="dark" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - razor_lit_demo</title>
    <script type="importmap"></script>

    <!-- TAILWIND -->

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0-beta.1/daisyui.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0-beta.1/themes.css" rel="stylesheet" type="text/css"/>

    <!-- HTMX -->

    <script src="~/lib/htmx/htmx.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- ALPINEJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/collapse@@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/persist@@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/focus@@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/morph@@3.x.x/dist/cdn.min.js"></script>

    <script src="~/lib/alpinejs/cdn.min.js" defer></script>

    <!-- Icons  -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <!-- LIT -->

    @* <link href="/lib/lit/index.min.js"/> *@
    @* <script type="module" src="js/math.js"></script> *@
    @* <script type="module" src="~/lit/components/my-timer.js"></script> *@


    <script type="module" src="~/lit/components/alpine-lit-combo.js"></script>
    <script type="module" src="~/lit/components/bms_counter.js"></script>
    <script type="module" src="~/lit/components/code-mockup.js"></script>
    <script type="module" src="~/lit/components/confirm-delete-htmx.js"></script>
    <script type="module" src="~/lit/components/DownCircleButton.js"></script>
    <script type="module" src="~/lit/components/greeting.js"></script>
    <script type="module" src="~/lit/components/my-timer.js"></script>

    <script type="module">
        Alpine.data('views', function () {
                console.log('initializing view toggles ...')
                return {
                    open: this.$persist(true),

                    tabs: {
                        refactors: {
                            show: this.$persist(true)
                            , toggle() {
                                this.show = !this.show
                            }
                        },
                        forklifts: {
                            show: this.$persist(true)
                            , toggle() {
                                this.show = !this.show
                            }
                        },
                        hydrations: {
                            show: false, toggle() {
                                this.show = !this.show
                            }
                        },
                        // navbars: { 
                        //     center: { show: true, toggle() {this.show = ! this.show}  },
                        //     start: { show: true, toggle() {this.show = ! this.show}  },
                        //     end: { show: true, toggle() {this.show = ! this.show}  },
                        // },
                    },
                    toggle() {
                        this.open = !this.open
                    }
                }
            }
        )
    </script>

    <link rel="stylesheet" type="text/css" href="css/site.css"/>

</head>
<body>
<header>

    <hydro-nav>

        <slot name="links">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Sandbox">Sandbox</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/11_ServerEvents">SSE</a>
                </li>
            </ul>
        </slot>
    </hydro-nav>
</header>
<div class="">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="">
        &copy; 2025 - razor_lit_demo - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
