@model razor_lit_demo.Pages.Shared.Components.HydroCodeMockup

@{
}

<div class="mockup-code w-full">
    <pre data-prefix="1"><code>npm i daisyui</code></pre>
    <pre data-prefix="2"><code>installing...</code></pre>
    <pre data-prefix="3" class="bg-success text-warning-content"><code>Error!</code></pre>
</div>