@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center flex flex-col items-center">

    <!-- debug panel -->
    <template x-if="false">
        <span x-text="$store.theme.value"></span>
    </template>

    <partial name="Sandbox/_LitAlpineHtmxSamples"/>

</div>


