@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center flex flex-col items-center">

    <span x-text="$store.theme.value"></span>

    <partial name="Sandbox/_LitAlpineHtmxSamples"/>

</div>


